@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Square+Peg&display=swap'); */
@import url('http://fonts.cdnfonts.com/css/book-antiqua?styles=15621');
* {
  * margin: 0;
  * padding: 0;
  * box-sizing: border-box;
  * text-decoration: none;
  * font-family: 'Dongle', 'Mochiy Pop P One';
  * }

body {
  /* background: radial-gradient(#ffc38c, #ff9b40); */
  /* background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%); */
  background-color: #f1dfd1;
  background-image: linear-gradient(345deg, #f1dfd1, 80%, #f6f0ea 84%);
}

html{
  scroll-behavior: smooth;
}

#canvas1 {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(#25364f, #4d71a5, #9bc4ff); */
  /* background: linear-gradient(#ffc38c, #ff9b40); */
}

.header{
  width: 100%;
  height: 100vh;
  /* background: #020412; */
  color: #fff;
  padding: none;
  position: relative;
}

nav{
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0 10px;
}

.menu-icon{
  padding-right: 4%;
  width: 50px;
  cursor: pointer;
}

nav ul{
  flex: 1;
  text-align: right;
  padding-right: 10px;

}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 30px;

}

nav ul li a{
  /* color: rgb(253, 252, 252); */
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 20px;

}

.main-img{
  border-radius: 50%;
  max-width: 20%;
  height: auto;
  position: absolute;
  top: 250px;
  right: 30px;
}

/* .aboutme-img{
  width: 90%;
  text-align: right;
  object-position: right center;
  object-position: 100px 50px;
} */

/* .aboutme-img img{
  width: 200px;
  height: 200px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  object-position: 300px 50px;
} */
.email{
  font-family: 'Square Peg', cursive;
  color: black;
  position: absolute;
  top: 550px;
  right: 100px;
}

.discord{
  height: 33px;
  width: 30px;
  /* margin-top: 100px; */
  position: absolute;
  top: 620px;
  right: 230px;
}

.reddit{
  height: 30px;
  width: 30px;
  /* margin-top: 100px; */
  position: absolute;
  top: 620px;
  right: 190px;
}

.instagram{
  height: 30px;
  width: 30px;
  position: absolute;
  top: 620px;
  right: 150px;
}

.github{
  height: 30px;
  width: 30px;
  position: absolute;
  top: 620px;
  right: 110px;
}

.intro-text{
  font-family: 'Square Peg', cursive;
  color: black;
  position: absolute;
  font-size: 80px;
  padding-left: 15%;
}

.long-description{
  font-family: 'Book Antiqua', sans-serif;
  font-size: 25px;
  text-align: left;
  padding-top: 200px;
  color: black;
}
