@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Mochiy+Pop+P+One&display=swap');
* {
  * margin: 0;
  * padding: 0;
  * box-sizing: border-box;
  * text-decoration: none;
  * font-family: 'Dongle', 'Mochiy Pop P One';
  * }

html{
  scroll-behavior: smooth;
}

.header{
  width: 100%;
  height: 100vh;
  /* background: #020412; */
  color: #fff;
  padding: none;
  position: relative;
}

#canvas1 {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(#25364f, #4d71a5, #9bc4ff); */
  background: linear-gradient(#ffc38c, #ff9b40);
}

nav{
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0 10px;
}

.menu-icon{
  padding-right: 4%;
  width: 50px;
  cursor: pointer;
}

nav ul{
  flex: 1;
  text-align: right;
  padding-right: 10px;

}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 30px;

}

nav ul li a{
  /* color: rgb(253, 252, 252); */
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 20px;

}


.text{
  margin-top: 15%;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 0px;
  padding-left: 10%;
  color: black;
  /* text-indent: 1%; */
}

.maintext{
  display: flex;
}

.text  h1{
  font-size: 65px;
  line-height: 100px;
}

/* .text a{
  margin-top: 20px;
  display: inline-block;
  border-radius: 10px;
  border: 2px solid #fff724;
  color: #fff724;
  padding: 20px 100px;
  text-decoration: none;
  padding-left: 0%;
  text-indent: 80%;
} */

/* .text .dbtn{
  background: #7289da;
  color: #000;
  border: 2px solid #7289da;
  margin-left: 30px;
  font-weight: 400;
}

.text .rbtn{
  background: #FF4301;
  border: 2px solid #FF4301;
  color: #000;
  margin-left: 30px;
  font-weight: 400;
} */

.discord{
  height: 55px;
  width: 55px;
  margin-top: 10px;
}

.reddit{
  height: 60px;
  width: 60px;
  margin-top: 10px;
  padding-left: 20px;
}

.github{
  height: 55px;
  width: 55px;
  margin-top: 10px;
  padding-left: 20px;
}

.instagram{
  height: 55px;
  width: 55px;
  margin-top: 10px;
  padding-left: 20px;
}

.youtube{
  height: 55px;
  width: 55px;
  margin-top: 10px;
  padding-left: 20px;
}


.typing{
  position: relative;
  margin-left: 20px;
}

/* .typing::after{
  content: "";
  position: absolute;
  right: -5px;
  width: 1px;
  height: 100%;
  border-right: 2px solid black;
  animation: blink 0.6s infinite ease;
}

@keyframes blink {

  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  } */
