<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Kishaloy Roy | About Me</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/about.css">
        <link rel="icon" type="image/x-icon" href="static/logo.png">
    </head>
    <body>
      <!-- <canvas id="canvas1"></canvas> -->
        <div class="header">
            <nav>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="about">About Me</a></li>
                  <li><a href="">Projects</a></li>
                  <li><a href="">Contact Me</a></li>
                </ul>
                <img src="static/menu.png" class='menu-icon'>
              </nav>
              </div>
              <img class="main-img" src="static/logo.png" alt="Logo">
              <div class="intro-text">
                <p> Hi. I'm Kishaloy Roy </p>
              </div>
              <div class="email">
                <h1>kishaloyr@gmail.com</h1>
              </div>
              <a href="">
                <img class="discord" src="static/discord.ico" alt="discord">
              </a>

              <a href="">
                <img class="reddit" src="static/reddit.ico" alt="reddit">
              </a>

              <a href="">
                <img class="instagram" src="static/instagram.png" alt="instagram">
              </a>
              <a href="">
                <img class="github" src="static/github.ico" alt="github">
              </a>
    </body>
</html>
