<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kishaloy Roy | Developer, Student and many more</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="icon" type="image/x-icon" href="static/logo.png">
  </head>
  <body>

    <canvas id="canvas1"></canvas>
    <script src="static/ParticlesEffect.js"></script>
    <div class="header">
      <nav>
        
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="about">About Me</a></li>
          <li><a href="">Projects</a></li>
          <li><a href="">Contact Me</a></li>
        </ul>
        <img src="static/menu.png" class='menu-icon'>
      </nav>
      <div class="text">
        <div class="maintext">
          <h1>I'm</h1> <h1 class="typing">Kishaloy Roy</h1>
        </div>
        <script src="static/typing.js"></script>
        <p>And I'm a prodigy developer. Welcome to my portfolio!</p>
        <a href="">
          <img class="discord" alt="Discord" src="static/discord.ico"></a>
        <a href="">
          <img class="reddit" alt="Reddit" src="static/reddit.ico"></a>
        <a href="">
          <img class="github" alt="Github" src="static/github.ico"></a>
        <a href="">
          <img class="instagram" alt="Instagram" src="static/instagram.png"></a>
        <a href="">
          <img class="youtube" alt="YouTube" src="static/youtube.ico"></a>

      </div>

    </div>

  </body>
</html>
