<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Portfolio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="icon" type="image/x-icon" href="static/logo.png">
  </head>
  <body>

    <div class="header">
      <nav>
        
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">About Me</a></li>
          <li><a href="">Projects</a></li>
          <li><a href="">Contact Me</a></li>
        </ul>
        <img src="static/menu.png" class='menu-icon'>
      </nav>
      <div class="text">
        <h1>I'm Kishaloy Roy</h1>
        <p>You can contact me on discord or in email in case you need any assistance!</p>
        <a href="">
        <img class="discord" alt="Discord" src="static/discord.ico"></a>
        <a href="">
        <img class="reddit" alt="Reddit" src="static/reddit.ico"></a>

      </div>

    </div>

  </body>
</html>
